* {
  box-sizing: border-box;
}

mat-progress-bar {
  width:400px;
  left:-24px;
  top: -24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-item{
  flex: 50%;
  max-width: 50%;
  padding: 8px;
}

@media (max-width: 600px) {
  .row-item {
    flex: 100%;
    max-width: 100%;
  }
}

.submit-button {
  margin-right: 0;
  margin-left: auto;
}
