.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav mat-icon {
  font-size: 36px;
}
.sidenav mat-icon:last-child {
  margin-left: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar button.navigation-button {
  margin-left: 16px;
}

mat-sidenav-content {
  /*background-color: #f0fffd;*/
  background: rgb(167,162,255);
  background: linear-gradient(324deg, rgba(167,162,255,1) 0%, rgba(244,255,219,1) 27%, rgba(194,245,255,1) 100%);
}

.content {
  padding: 8px;
}

.spacer {
  flex: 1 1 auto;
}

