<div class="change-password">
  <mat-card>
    <mat-card-title>Change password</mat-card-title>
    <form [formGroup]="form" novalidate class="row" (ngSubmit)="onSubmit()">

      <mat-form-field class="row-item">
        <mat-label>Current password</mat-label>
        <input matInput
               type="password"
               name="currentPassword"
               formControlName="currentPassword">

        <mat-error *ngIf="form.get(['currentPassword'])!.hasError('required')">
          Current password is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="form.get(['currentPassword'])!.hasError('minlength')">
          Min length: 6 characters.
        </mat-error>
        <mat-error *ngIf="form.get(['currentPassword'])!.hasError('maxlength')">
          Max length: 32 characters.
        </mat-error>

      </mat-form-field>

      <mat-form-field class="row-item">
        <mat-label>New password</mat-label>
        <input matInput
               type="password"
               name="newPassword"
               formControlName="newPassword">

        <mat-error *ngIf="form.get(['newPassword'])!.hasError('required')">
          New password is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="form.get(['newPassword'])!.hasError('minlength')">
          Min length: 6 characters.
        </mat-error>
        <mat-error *ngIf="form.get(['newPassword'])!.hasError('maxlength')">
          Max length: 32 characters.
        </mat-error>

      </mat-form-field>

      <div class="row-item">
        <button type="submit" class="submit-button" mat-raised-button color="primary" [disabled]="!form.valid">Update password</button>
      </div>

    </form>
  </mat-card>
</div>
