.new-post {
  width: 600px;
  padding: 8px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-item{
  flex: 100%;
  max-width: 100%;
  padding: 8px;
}

@media (max-width: 850px) {
  .new-post {
    width: 98%;
  }
}

@media (max-width: 600px) {
  .row-item {
    flex: 100%;
    max-width: 100%;
  }
}
