<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon aria-hidden="false" aria-label="Social network">interests</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Social network">abc</mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="">Feed</a>
      <a mat-list-item routerLink="/new-post" *ngIf="authService.loggedIn">New Post</a>
      <a mat-list-item routerLink="/search">Search</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/personal-posts" *ngIf="authService.loggedIn">Your posts</a>
      <a mat-list-item routerLink="/top">TOP 5 Posts</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/profile" *ngIf="authService.loggedIn">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Social Network</span>
      <span class="spacer"></span>

      <button mat-button color="warn" routerLink="/subscriptions" *ngIf="!authService.paidUser">Buy subscription</button>
      <button mat-button routerLink="/profile" *ngIf="authService.paidUser">Subscription Active</button>

      <button mat-stroked-button class="navigation-button" (click)="openLoginDialog()" *ngIf="!authService.loggedIn">Sign In</button>
      <button mat-raised-button class="navigation-button" (click)="openRegisterDialog()" *ngIf="!authService.loggedIn">Sign Up</button>

      <button mat-stroked-button [mat-menu-trigger-for]="navigationProfile" *ngIf="authService.loggedIn">{{getFullName()}}</button>

      <mat-menu #navigationProfile="matMenu">
        <button mat-menu-item routerLink="/profile">Your Profile</button>
        <button mat-menu-item routerLink="/profile">Settings</button>
        <button mat-menu-item routerLink="/profile/change-password">Change password</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="authService.logOut()">Log out</button>
      </mat-menu>

    </mat-toolbar>
    <app-progress-bar></app-progress-bar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
