<mat-card style="margin-bottom: 8px" class="mat-elevation-z2">
  <mat-card-title>Search posts</mat-card-title>
  <form [formGroup]="filterForm" class="row">

    <mat-form-field class="row-item">
      <mat-label>Title</mat-label>
      <input matInput type="text" placeholder="Title" formControlName="title" (keyup.enter)="filterPostsFromForm();"  />
    </mat-form-field>

    <mat-form-field class="row-item">
      <mat-label>Content</mat-label>
      <input matInput type="text" placeholder="Content" formControlName="content" (keyup.enter)="filterPostsFromForm();"  />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="filterPostsFromForm();">
      <mat-icon>search</mat-icon>Search </button>
    <button mat-raised-button color="accent" (click)="resetGrid();" style="margin-left: 16px;">
      <mat-icon>refresh</mat-icon>Reset</button>

  </form>
</mat-card>


<div class="mat-elevation-z2">
  <mat-progress-bar mode="indeterminate" *ngIf="isProgressBarVisible"></mat-progress-bar>
  <table mat-table
         [dataSource]="pagedPosts?.items"
         class="full-width-table"
         matSort aria-label="Elements"
         matSortActive="title"
         matSortDirection="asc">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Content</th>
      <td mat-cell *matCellDef="let row">{{row.content | slice:0:32}}</td>
    </ng-container>

    <ng-container matColumnDef="createdDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Published On</th>
      <td mat-cell *matCellDef="let row">{{row.createdDateTime | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="likesCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Likes</th>
      <td mat-cell *matCellDef="let row">{{row.likesCount}}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Author</th>
      <td mat-cell *matCellDef="let row">{{row.user}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef style="justify-content:right;">
        <button mat-button style="color:white; background-color:darkgrey" (click)="resetGrid()">Reset</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let book" style="justify-content:right;">
        <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;" [routerLink]="['/admin/editBook', book.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="pagedPosts?.total"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>

</div>
